<template>
    <lightning-card variant="narrow" icon-name="standard:opportunity">
        <div slot="actions">
            <lightning-button-icon icon-name="utility:down" onclick={handleLoad} name='确认'></lightning-button-icon>
        </div>
    </lightning-card>
</template>