.THIS .slds-brand-band{
	background-color:rgb(242,242,242);
}
.THIS .orgchart{
    background-image: linear-gradient(90deg, rgb(242,242,242) 10%, rgb(242,242,242) 10%), 
    linear-gradient(rgb(242,242,242) 10%, rgb(242,242,242) 10%);
    /*scrollable slds-modal__content slds-p-around--medium
    */
}
    /*将小人人头像的上部分去掉*/
.THIS .oci-leader::before {
      width:0;
      height:0;
}
	/*将小人人头像的下部分去掉*/
.THIS .oci-leader::after {
      width: 0;
      height:0;
}
.THIS .orgchart{
     	width: 100% !important;
    	height:1000px;
}

.THIS .orgchart .node .title{
    width:auto !important;
    min-width: 130px !important;
    color: black;
    background-color: #f4f6f9;
    border:1px solid #ccc;
    border-bottom:0px;
   /* WORD-BREAK: break-all !important;*/
    
    
}
.THIS .orgchart .node .content{
    background-color: #f4f6f9;
    border:1px solid #ccc;
    border-top:0px;
}

/*.THIS #chart-container {
    	text-align: center;
    	width: 100% !important;
}*/
    

.THIS .div1 {
    display:none;
    margin:5px;
    background-color: #f4f6f9;
    padding:5px;
    border:1px solid #ccc;
    width:auto;
    display: inline-block;
    text-align:center;	
    border-radius: 5px;
}