<apex:page showHeader="false" sidebar="false" controller="PersonalHomePageController">
    <html>
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        </head>
        <style>
            body{ text-align:center;marging:0;padding:0}
        </style>
        <body>
            <div style='width:100%;'>
                <table style='width:100%;'>
                    <thead>
                    	<td style='width:50%;'>姓名:</td>
                        <td style='width:50%;'>{!name}</td>
                    </thead>
                    <tbody>
                    	<tr>
                            <td>邮件:</td>
                            <td>{!email}</td>
                        </tr>
                        <tr>
                            <td>公司:</td>
                            <td>{!company}</td>
                        </tr>
                        <tr>
                            <td>职位:</td>
                            <td>{!job}</td>
                        </tr>
                        <tr>
                            <td>电话:</td>
                            <td>{!phone}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>
    </html>
    	
</apex:page>